<h2>Модель добавлена</h2>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            document.location.href = '@Url.Action("Index", "Comp2")';
        }, 2000);
    })
</script>
