@model JQueryUI_1.Models.Computer

<div>
    <h3>ид: @Html.DisplayFor(m => m.Id)</h3>
    <h3>Модель: @Html.DisplayFor(m => m.Model)</h3>
    <h3>год выпуска: @Html.DisplayFor(m => m.Year)</h3>
</div>

<h2>Details</h2>

