@model IEnumerable<mvc.Models.Book>

@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table>
    <tr>
        <td>а</td>
        <td>b</td>
        <td>c</td>
    </tr>

</table>
<h2>View1</h2>

